{% extends 'v1/base.html' %}


{% block title %}
{{data_master.title}}
{% endblock %}

{% block body %}
<center>
<h2>
<div>查询明细</div>
</h2>
<p>{{qr_label.qrcode}}</p>
</center>

<div  style="padding-top:15px;padding-left:10px;">
    <div class="page__bd page__bd_spacing">
{% for scan_record in scan_records %}
<div class="weui-flex">
    <div style="width:10%">{{forloop.counter}} </div>
    <div style="padding-left:0px;width:20%"> {{scan_record.city | default:"更新中"}}</div>
    <div style="padding-left:0px" class="weui-flex__item">{{scan_record.scan_date}}</div>
</div>
{% endfor %}

</div>
</div>
</div>
{% endblock %}
