<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>
{{data_master.title}}
</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css"/>
</head>
<body ontouchstart>

<div class="page">

<center>
<h2>
<div>查询明细</div>
</h2>
<p>{{qr_label.qrcode}}</p>
</center>

<div  style="padding-top:15px">
{% for scan_record in scan_records %}
<div class="weui-flex">
    <div class="weui-flex__item">{{forloop.counter}}  {{scan_record.ip}}</div>
    <div class="weui-flex__item">{{scan_record.scan_date}}</div>
</div>
{% endfor %}

</div>

</div>
<div class="page__ft" style="padding-top:40px">
        <div class="weui-footer">
            <p class="weui-footer__links">
<a href="tel://{{data_master.tel}}" class="weui-footer__link" ”>{{data_master.tel}}</a>
            </p>
            <p class="weui-footer__links">
                <a  class="weui-footer__link">{{data_master.title}}</a>
            </p>
            <p class="weui-footer__text">Copyright &copy; 2012-2018 tslink.cc</p>
        </div>
</div>
</div>
</div>
</body>
</html>
