<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{{data_master.title}}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css"/>
</head>
<body ontouchstart>
<div class="page">
    <div class="page__hd">
        <h1 class="page__title">{{data_master.title}}</h1>
        <p class="page__desc">{{data_master.tel}}</p>
    </div>
    <div class="page__bd page__bd_spacing">

    </div>
    <div class="page__ft">
<div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">{{data_master.title}}</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; 2008-2016 tslink.cc</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
