{% extends 'v1/base.html' %}
{% block title %}
编号查询
{% endblock %}
{% block body %}
<div class="page">
<div class="page__bd page__bd_spacing">
<!--
    {% if data_master.title_show %}
        <div class="weui-flex">
            <div class="weui-flex__item" style="background: linear-gradient(to bottom, #eee, white 60%, #eee);">
            <center>
            <h2> {{data_master.title}}</h2>
            </div>
            </center>
        </div>
    {% endif %}
-->
    {% if data_master.title_show %}
    <div   class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on">
                 {{data_master.title}}
            </div>
        </div>
    </div>
    {% endif %}

    {% if data_master.title_show %}
        <div class="weui-flex__item">
 
            <div class="weui-navbar__item weui-bar__item_on">
                 {{data_master.title}}
            </div>
        </div>
     {% endif %}




    {% if data_master.img_show %}
    <div class="weui-flex">

        <div class="weui-flex__item">
        <img style="max-width:100%;"  src="{{data_master.img_url}}"/>
        </div>
    </div>
    {% endif %}

    <div style="padding-left:10px;padding-right:10px;">

        <center>
            <h2>
            <div>查询结果</div>
            </h2>
        </center>

        
        <div  style="padding-top:15px">
            <div class="weui-flex">

                <div class="weui-flex__item">您查询的产品编号是：<a style="color:red; ">{{qr_label.qrcode}}</a></div>
            </div>

         {% if data_master.desicribe_show %}
            <div class="weui-flex" style="padding-top:15px" >
                <div class="weui-flex__item" >{{data_master.describe}} </div>
            </div>
          {% endif %}

        {% if data_master.scan_show %}
            <div class="weui-flex" style="padding-top:15px">
                <div class="weui-flex__item">查询次数：<a href='label-scan-list/'>{{qr_label.scaned_times}}</a> </div>
            </div>

            <div class="weui-flex">
                <div class="weui-flex__item">首查时间：{{qr_label.get_first_scan.scan_date}} </div>
            </div>
        {% endif %} 
        </div>

        
        {% if data_master.feedback_show %}

    <div style="padding-top:10px">

        <center>
            <h2>
            <div>反馈</div>
            </h2>
        </center>

         <form  method="post" enctype="multipart/form-data">
         {% csrf_token %}
            
             <div class="weui-cells weui-cells_form"> 
                 <div class="weui-cell"> 
                     <div class="weui-cell__bd"> 
                         <textarea class="weui-textarea" placeholder="反馈内容" rows="7" name="feed_back"></textarea> 
                     </div> 
                 </div> 
             </div> 

             <div class="weui-cell"> 
                 <div class="weui-cell__bd"> 
                         <input name="img" class="weui-input" type="file" accept="image/*"  placeholder="请选择图片"></input> 
                    </div> 
             </div> 

         <div class="weui-cell"> 
             <div class="weui-cell__bd"> 
                 <input name="contact" class="weui-input" type="text" placeholder="联系方式 " /> 
             </div> 

         </div>
            <div class="weui-btn-area" style="padding-top:20px"> 
                <input type="submit" value="确认" class="weui-btn weui-btn_primary">         
            </div>
        </form>
    </div>
        {% endif %}
    </div>

</div>
</div>
{% endblock %}
