<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>正品</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css"/>
</head>
<body ontouchstart>
<div class="page">
<div class="page__hd">
<div class="weui-tab">
<div class="weui-navbar">
<div class="weui-navbar__item weui-bar__item_on">
{{data_master.title}}
</div>
</div>
</div>
<div class="page__bd page__bd_spacing">
<div class="weui-flex">
<div class="weui-flex__item"><p>img</p></div>
</div>
<div class="weui-flex">
<div class="weui-flex__item">

<img style="max-width:100%;"  src="{{data_master.img_url}}"/></div>

</div>
<center>
<h2>
<div>查询结果</div>
</h2>
</center>

<div  style="padding-top:15px">
<div class="weui-flex">
    <div class="weui-flex__item">您查询的商品编号是：<a style="color:red">{{qr_label.qrcode}}</a></div>
</div>

<div class="weui-flex">
    <div class="weui-flex__item">{{data_master.describe}} </div>
</div>
</div>
<div  style="padding-top:15px">
<div class="weui-flex">
    <div class="weui-flex__item">查询次数：{{qr_label.scaned_time}} </div>
</div>
<div class="weui-flex">
    <div class="weui-flex__item">首查时间：{{qr_label.get_first_scan.scan_date}} </div>
</div>
</div>
</div>
<div class="page__ft" style="padding-top:40px">
        <div class="weui-footer">
            <p class="weui-footer__links">
<a href="tel://{{data_master.tel}}" class="weui-footer__link" ”>{{data_master.tel}}</a>
            </p>
            <p class="weui-footer__links">
                <a  class="weui-footer__link">{{data_master.title}}</a>
            </p>
            <p class="weui-footer__text">Copyright &copy; 2012-2018 tslink.cc</p>
        </div>
</div>
</div>
</div>
</div>
</body>
</html>
