{% extends 'v1/base.html' %}

{% block title %}
设定模版
{% endblock %}

{% block body %}

<center>
<h1>
<div>预览</div>
</h1>
</center>


<div class="page__hd" style="border-style: solid; border-width:1px;margin-left:1px;margin-right:1px">
<div class="weui-tab">
<div class="weui-navbar">
<div class="weui-navbar__item weui-bar__item_on">
{{data_master.title}}

</div>
</div>
</div>
<div class="page__bd page__bd_spacing">
<div class="weui-flex">
<div class="weui-flex__item"><p>img</p></div>
</div>
<div class="weui-flex">
<div class="weui-flex__item">

<img style="max-width:100%;"  src="{{data_master.img_url}}"/></div>

</div>
<div style="padding-left:10px;padding-right:10px;">
<center>
<h2>
<div>查询结果</div>
</h2>
</center>

<div  style="padding-top:15px">
<div class="weui-flex">
    <div class="weui-flex__item">您查询的产品编号是：<a style="color:red; ">0000000000000000</a></div>
</div>

<div>
    <div>{{data_master.describe}}</div>
</div>


</div>
</div>
</div>

</div>
<center>
<h1>
<div>设定</div>
</h1>
</center>


<div class="page__hd" style="border-style: solid; border-width:1px;margin-left:1px;margin-right:1px">
<div  style="padding-top:15px">

<form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="weui-cells__title">单位名称</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input name="title" class="weui-input" type="text" placeholder="请输入文本" value = "{{ data_master.title }}" />
                </div>
            </div>
        </div>
</div>

<div class="weui-cells__title">上传图片</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input name="img" class="weui-input" type="file" placeholder="请输入图片" />
                </div>
            </div>
        </div>

<div class="weui-cells__title">正确后的描述文字</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="5" name="describe">{{data_master.describe}}</textarea>
                </div>
            </div>
        </div>
<div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">电话</label>
                </div>
                <div class="weui-cell__bd">
                    <input name="tel" class="weui-input" type="tel" placeholder="请输入手机号"  value = "{{ data_master.tel }}" />
                </div>
            </div>

<div class="weui-btn-area">
         <input type="submit" value="提交" class="weui-btn weui-btn_primary">        </div>
</form>
</div> 
</div>

{% endblock %}
